BYNmasivofy2024*

In [272]:
# Importa las librerias a usar
import pandas as pd
import re
import numpy as np

K2

In [273]:

# Ubicacion de los archivos a usar
patch1 = '../input/Kilometros en Servicio MIO - 05-Mar-2024.xlsx'# Se importa el archivo xlxs
kmsmio = pd.read_excel(patch1, sheet_name='Programacion')
# Se eliminan las filas y las columnas vacias
kmsmio = kmsmio.dropna(axis=0, how='all').dropna(axis=1, how='all')

In [274]:
# Filtra el DF por Kms en Servicio
kmsmio = kmsmio[kmsmio['Tipo Kilómetros']== 'Kms en Servicio']
kmsmio = kmsmio[kmsmio['Kilometros Programados Plan'].notna()]

In [275]:
# Cambiamos la hora 24 por 0
kmsmio['Desde'] = kmsmio['Desde'].replace('24', '0')
kmsmio = kmsmio[kmsmio['Desde'] != '0']

In [276]:
# Se crea una nueva columna 'id'
kmsmio['id'] = kmsmio.apply(lambda row: '-'.join([str(row['Línea']), str(row['Número de tarea vehículo']), 
                                                   str(row['Desde']), str(row['hasta'])]), axis=1)

In [277]:
kmsmio.shape

(18645, 40)

In [278]:
kmsmio['id'].value_counts()

id
A14A-1-05:00:00-05:12:10                              1
T51-562-09:33:30-10:30:24                             1
P51A-559-13:58:14-13:59:14                            1
P51A-559-13:01:28-13:57:59                            1
P51A-559-12:00:39-13:00:58                            1
                                                     ..
P21C-235-17:20:17-18:22:37                            1
E21-234-07:48:36-08:47:15                             1
E21-234-07:44:14-07:45:14                             1
E21-234-06:44:00-07:43:59                             1
A35A-99753-1900-01-01 00:16:10-1900-01-01 00:29:23    1
Name: count, Length: 18645, dtype: int64

Reporte finalizado

In [279]:
# ubicacion del archivo
patch2 =  '../input/REPORTE FINALIZADO 05_MARZ_2024.xlsx'
# Se importa el archivo xlxs
repofi = pd.read_excel(patch2, sheet_name='Programacion')
bitacora = pd.read_excel(patch2, sheet_name='Bitacora')
# Se eliminan las filas y las columnas vacias
repofi = repofi.dropna(axis=0, how='all').dropna(axis=1, how='all')
bitacora = bitacora.dropna(axis=0, how='all').dropna(axis=1, how='all')

In [280]:
# Filtra el DF por Kms en Servicio
repofi = repofi[repofi['Tipo de kilometros']== 'Kms en Servicio']
# Se crea una nueva columna 'id'
repofi['id'] = repofi.apply(lambda row: '-'.join([str(row['Línea']), str(row['Número de tarea vehículo']), 
                                                  str(row['desde']),str(row['hasta'])]), axis=1)

In [281]:
repofi['id'].value_counts()

id
A14A-1-05:00:00-05:12:10                              1
T51-562-09:33:30-10:30:24                             1
P51A-559-13:58:14-13:59:14                            1
P51A-559-13:01:28-13:57:59                            1
P51A-559-12:00:39-13:00:58                            1
                                                     ..
P21C-235-17:20:17-18:22:37                            1
E21-234-07:48:36-08:47:15                             1
E21-234-07:44:14-07:45:14                             1
E21-234-06:44:00-07:43:59                             1
A35A-99753-1900-01-01 00:16:10-1900-01-01 00:29:23    1
Name: count, Length: 18645, dtype: int64

In [282]:
repofi.shape

(18645, 32)

Merge

In [283]:
merge = pd.merge(kmsmio, repofi, on='id', how='outer')

In [284]:
merge.shape

(18645, 71)

Filtro para columna condicional

In [285]:
# Filtro para verificar 
filtro = merge

In [286]:
filtro.columns

Index(['Fecha_x', 'Día tipo_x', 'Designación de tarea vehículo_x', 'Línea_x',
       'Tipo de viaje corto_x', 'Sentido_x', 'Tipo Kilómetros',
       'Número de Vehículo', 'Concesionario de Transporte_x',
       'Número de tarea vehículo_x', 'Desde', 'hasta_x', 'Duración_x',
       'Punto de inicio_x', 'Punto de término_x', 'Largo_x',
       'Número de viaje_x', 'Tipo de vehículo del viaje_x',
       'Secuencia de arcos_x', 'Descripción Novedad_x',
       'Concesionario Programado', 'Tipo de vehículo Programado',
       'Incumplidos_x', 'Kilometros Programados-Desvios',
       'Kilometros Programados Plan', 'Clase de viaje', 'a evaluar', 'TAREA',
       'LINEA', 'VIAJE', 'VEHICULO SGCO', 'Kms en Servicio (MTS PLANEADOS)',
       'PARADAS PLANEADAS', 'PARADAS REALIZADAS SGCO',
       '% PARADAS REALIZADAS SGCO', 'Kms en Servicio (MTS SGCO)',
       'FUENTE SGCO', 'HORA REAL SALIDA', 'HORA REAL LLEGADA', 'id', 'Fecha_y',
       'Día tipo_y', 'Designación de tarea vehículo_y', 'Línea_y',
       'Tipo de viaje corto_y', 'Sentido_y', 'Tipo de kilometros',
       'Número de secuencia de carro', 'Concesionario de Transporte_y',
       'Número de tarea vehículo_y', 'desde', 'hasta_y', 'Duración_y',
       'Punto de inicio_y', 'Punto de término_y', 'Largo_y',
       'Número de viaje_y', 'Tipo de vehículo del viaje_y',
       'Secuencia de arcos_y', 'Descripción Novedad_y', 'Subcontratista',
       'Tipo de vehículo del viaje.1', 'Incumplidos_y', 'Nro de caso', 'Tipo',
       'Lugar', 'Jerarquia', 'Vehículo', 'Kms Planeados', 'Kms Perdidos',
       'Kms cancelados'],
      dtype='object')

In [307]:
filtro = merge[merge['Largo_x'] != merge['Largo_y']]
#862

In [288]:
filtro = merge[merge['Número de Vehículo'] != merge['Número de secuencia de carro']]
#12200

In [289]:
filtro = merge[merge['Secuencia de arcos_x'] != merge['Secuencia de arcos_y']]

In [292]:
#replece blanco y negro a byn
merge['Concesionario Programado'].replace('Blanco y Negro Masivo', 'BYN', inplace=True)

In [305]:
# Condiciones para la nueva columna
condicion1 = merge['Largo_x'] != merge['Largo_y']
condicion2 = merge['Número de Vehículo'] != merge['Número de secuencia de carro']
condicion3 = merge['Secuencia de arcos_x'] != merge['Secuencia de arcos_y']
condicion4 = merge['Concesionario de Transporte_x'] != merge['Concesionario Programado']

# Aplicar condiciones y asignar valores a la nueva columna
filtro['condicional'] = np.where(condicion1 & condicion2 & condicion3, 'Revisar largo, parada y vehículo',
                                 np.where(condicion1, 'Revisar largo', 
                                          np.where(condicion2, 'Revisar numero de vehiculo',
                                                   np.where(condicion3, 'Revisar paradas',
                                                            np.where(condicion4, 'Revisar consesionario', 'OK')))))

C:\Users\miguel.ortiz\AppData\Local\Temp\ipykernel_28424\470402479.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro['condicional'] = np.where(condicion1 & condicion2 & condicion3, 'Revisar largo, parada y vehículo',

In [308]:
filtro.shape

(862, 71)

In [302]:
filtro['condicional'].value_counts().sum()

18645

In [306]:
filtro['condicional'].value_counts()

condicional
Revisar numero de vehiculo    11615
OK                             6152
Revisar largo                   862
Revisar consesionario            16
Name: count, dtype: int64

In [230]:
filtro

,Fecha_x,Día tipo_x,Designación de tarea vehículo_x,Línea_x,Tipo de viaje corto_x,Sentido_x,Tipo Kilómetros,Número de Vehículo,Concesionario de Transporte_x,Número de tarea vehículo_x,...,Tipo de vehículo del viaje.1,Incumplidos_y,Nro de caso,Tipo,Lugar,Jerarquia,Vehículo,Kms Planeados,Kms Perdidos,Kms cancelados
0,2024-03-05,DHABIL,13,A01A,Viaje comercial,Ida,Kms en Servicio,NaN,NaN,13,...,DUA,2.0,I20051442,Incumplimiento del COT,SANBO2,Incumplimiento del COT::Flota::Combustible,54004.0,4704,4704.0,NaN
1,2024-03-05,DHABIL,13,A01A,Viaje comercial,Ida,Kms en Servicio,NaN,NaN,13,...,DUA,2.0,NaN,NaN,NaN,NaN,NaN,4704,4704.0,NaN
2,2024-03-05,DHABIL,13,A01A,Viaje comercial,Ida,Kms en Servicio,54013,BYNCPC,13,...,DUA,NaN,20022922,Retoma,SANBO2,Retoma,54013.0,4704,NaN,NaN
3,2024-03-05,DHABIL,13,A01A,Viaje comercial,Ida,Kms en Servicio,54013,BYNCPC,13,...,DUA,NaN,2374293,Incidente,SANPAS6,Incidente::Por Flota::Con Protocolo Tecnologic...,54013.0,4704,NaN,NaN
4,2024-03-05,DHABIL,13,A01A,Viaje comercial,Ida,Kms en Servicio,54013,BYNCPC,13,...,DUA,NaN,NaN,NaN,NaN,NaN,NaN,4704,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18640,2024-03-05,DHABIL,85,T53,Viaje comercial,Ida,Kms en Servicio,21016,BYN,85,...,ART,NaN,NaN,NaN,NaN,NaN,NaN,13963,NaN,NaN
18641,2024-03-05,DHABIL,85,T53,Viaje de posicionamiento,NaN,Kms en Servicio,21016,BYN,85,...,ART,NaN,NaN,NaN,NaN,NaN,NaN,436,NaN,NaN
18642,2024-03-05,DHABIL,85,T53,Viaje comercial,Vuelta,Kms en Servicio,21016,BYN,85,...,ART,NaN,NaN,NaN,NaN,NaN,NaN,14647,NaN,NaN
18643,2024-03-05,DHABIL,85,T53,Viaje de posicionamiento,NaN,Kms en Servicio,21016,BYN,85,...,ART,NaN,NaN,NaN,NaN,NaN,NaN,104,NaN,NaN
18644,2024-03-05,DHABIL,85,T53,Viaje comercial,Ida,Kms en Servicio,21016,BYN,85,...,ART,NaN,NaN,NaN,NaN,NaN,NaN,13963,NaN,NaN

In [ ]:
filtro[filtro['Número de tarea vehículo_x']== 6]

In [ ]:
# Exporta a un archivo excel el Df
#merge.to_excel('../output/prueba_merge.xlsx', index=False, sheet_name='k2_procesado')

Incumplido

In [316]:
merge.columns

Index(['Fecha_x', 'Día tipo_x', 'Designación de tarea vehículo_x', 'Línea_x',
       'Tipo de viaje corto_x', 'Sentido_x', 'Tipo Kilómetros',
       'Número de Vehículo', 'Concesionario de Transporte_x',
       'Número de tarea vehículo_x', 'Desde', 'hasta_x', 'Duración_x',
       'Punto de inicio_x', 'Punto de término_x', 'Largo_x',
       'Número de viaje_x', 'Tipo de vehículo del viaje_x',
       'Secuencia de arcos_x', 'Descripción Novedad_x',
       'Concesionario Programado', 'Tipo de vehículo Programado',
       'Incumplidos_x', 'Kilometros Programados-Desvios',
       'Kilometros Programados Plan', 'Clase de viaje', 'a evaluar', 'TAREA',
       'LINEA', 'VIAJE', 'VEHICULO SGCO', 'Kms en Servicio (MTS PLANEADOS)',
       'PARADAS PLANEADAS', 'PARADAS REALIZADAS SGCO',
       '% PARADAS REALIZADAS SGCO', 'Kms en Servicio (MTS SGCO)',
       'FUENTE SGCO', 'HORA REAL SALIDA', 'HORA REAL LLEGADA', 'id', 'Fecha_y',
       'Día tipo_y', 'Designación de tarea vehículo_y', 'Línea_y',
       'Tipo de viaje corto_y', 'Sentido_y', 'Tipo de kilometros',
       'Número de secuencia de carro', 'Concesionario de Transporte_y',
       'Número de tarea vehículo_y', 'desde', 'hasta_y', 'Duración_y',
       'Punto de inicio_y', 'Punto de término_y', 'Largo_y',
       'Número de viaje_y', 'Tipo de vehículo del viaje_y',
       'Secuencia de arcos_y', 'Descripción Novedad_y', 'Subcontratista',
       'Tipo de vehículo del viaje.1', 'Incumplidos_y', 'Nro de caso', 'Tipo',
       'Lugar', 'Jerarquia', 'Vehículo', 'Kms Planeados', 'Kms Perdidos',
       'Kms cancelados'],
      dtype='object')

In [315]:
merge[['Incumplidos_x', 'Incumplidos_y']]

       Incumplidos_x  Incumplidos_y
0                2.0            2.0
1                2.0            2.0
2                NaN            NaN
3                NaN            NaN
4                NaN            NaN
...              ...            ...
18640            NaN            NaN
18641            NaN            NaN
18642            NaN            NaN
18643            NaN            NaN
18644            NaN            NaN

[18645 rows x 2 columns]

In [ ]:
import numpy as np

# Aplicar la lógica a cada fila del DataFrame y asignar el resultado a una nueva columna
merge['resultado'] = merge.apply(lambda row: \
    2 if (row['Tipo Kilómetros'] == "Kms en Servicio" and pd.isna(row['AC193'])) \
      and row['Tipo de viaje corto'] == "Viaje comercial" \
    else (1 if (row['Tipo Kilómetros'] == "Kms en Servicio" and pd.isna(row['AC193'])) \
      and ((row['Tipo de viaje corto'] == "Viaje de punto operacional" or row['Tipo de viaje corto'] == "Viaje de posicionamiento") \
      and (pd.isna(row['Número de Vehículo']) and (row['AH194'] == 2 and (row['AF193'] == 0 or row['AF193'] == 1) \
      or ((row['AF193'] != 0 and row['AF193'] != 1) or (row['AF194'] == 0 or row['AF194'] == 1)) and (pd.notna(row['AH195']) or 2))))) \
    else (0 if (row['AC193'] == "CAMBIO" or row['AC193'] == "CANCELADA") and row['G193'] != "Kms en Vacio" else ""), axis=1)

In [ ]:
if G193 != "Kms en Vacio":
    if P193 != AF193:
        if AD193 == "":
            resultado = "#Error"
        else:
            resultado = "Arco va desde " + AD193 + " hasta " + AE193 + " con un arco de " + str(AF193) + ", revisar calificacion"
    elif W193 != AH193:
        resultado = "Calificacion debe ser " + str(AH193) + " verificar"
    elif H193 and H193[1] != AC193[1]:
        if AC193 == "" or AC193 == 0:
            if H193 == "":
                resultado = ""
            else:
                resultado = "Verificar Vehiculo: " + H193
        else:
            resultado = "Actualizar vehiculo: " + str(AC193)
    else:
        resultado = ""
else:
    resultado = ""

Jerarquias

In [ ]:
prueba = bitacora['Jerarquía'].drop_duplicates().to_frame()

In [ ]:
# Función para dividir el texto en base a ":" y seleccionar la parte deseada
def split_text(text):
    if ":" in text:
        # Dividir el texto en base a ":" y tomar la primera parte
        return text.split(":", 1)[0]
    else:
        return text

In [ ]:
# Aplicar la función a la columna 'Jerarquía'
prueba['Texto_Antes'] = prueba['Jerarquía'].apply(split_text)

In [ ]:
# Funcion para obtener el ultimo dato de la columna
def obtener_texto_despues_ultimo(texto):
    # Usamos una expresión regular para encontrar el texto después del último ":"
    match = re.search(r'[^:]*$', texto)
    if match:
        return match.group(0)
    else:
        return ''

In [ ]:

prueba['despues_text'] = prueba['Jerarquía'].apply(obtener_texto_despues_ultimo)

Merge con Jererquias

In [ ]:
merge.shape

In [ ]:
# Se selecionan las columnas de Bitacora que se van a usar
bitacorafil = bitacora[['Jerarquía',	'Tarea',	'Viaje', 'Parada', 'Vehículo', 'Novedad']]

In [ ]:
# Se agrega al merge anterior la informacion de bitacora
mergebitacora = pd.merge(merge, bitacorafil, left_on=['Número de tarea vehículo_x', 'Número de viaje_x'], right_on=['Tarea', 'Viaje'], how='outer' )

In [ ]:
mergebitacora.shape

In [ ]:
filtro = mergebitacora[(mergebitacora['Fecha_x'].isna()) & (mergebitacora['Tipo novedad'].notna())]

In [ ]:
filtro[['Tarea', 'Viaje']]